#open-for-job {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    background-color: #0762f9;
    padding: 16px;
    border: none;
    cursor: pointer;
    border-radius: 0px;
}

#open-for-job:hover {
    background-color: transparent;
    border: #0762f9 2px solid;
}